<% const currentYear = new Date().getFullYear() %>

		    <footer>
		    	<p class="center">Arthur Chege &copy <%= currentYear %>. All rights reserved.</p>
		    	<p class="left">Made by <a href="#">Robin</a></p>
		    </footer>
        </div>
	</body>
</html>
