<%- include ('partials/header') -%>

<div class="homeDiv">
	<div class="intro">
		<p>
			Hello, i'm Arthur, a 3D artist and animator based in Nairobi, Kenya.
			<br />
			<br />
			I have worked with multiple clients from different industries like
			<br />
			music, advertising and crypto.
			<br />
			<br />
			My aim is to work together with my clients to come up with custom
			and
			<br />
			tailored solution for their business and branding needs.
			<br />
			<br />
			The artistic process for coming up with new art work I find to be
			really
			<br />
			enjoyable and satisfactory. I offer a training program to help
			others
			<br />
			understand key aspects of 3d art such as modelling, lighting,
			rendering
			<br />
			etc so that they too can get that feeling of creating art.
		</p>

		<div class="callToAction">
			<a href="/contact"><button>Reach out to me</button></a>
			<a href="/portfolio"><button>Have a look at my work</button></a>
		</div>
	</div>

	<div class="img">
		<img
			src="/assets/profile/photo_2022-11-14_15-48-03.jpg"
			alt="Arthur photo"
		/>
	</div>
</div>

<%- include ('partials/footer') -%>
