@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: Molot;
  src: url(../fonts/Molot.otf);
}
* {
  font-family: Roboto, sans-serif;
  transition: 0.5s ease-in-out;
}

body {
  background-color: #000916;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  padding: 0;
  width: 90vw;
  min-height: 100vh;
  overflow-x: hidden;
}

nav {
  display: flex;
  margin: 0 0 1.25rem 0;
  padding: 1.25rem 0;
  width: 100%;
}
nav p {
  font-family: Molot, sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin: auto auto auto 0;
}
nav div {
  margin: auto 0 auto auto;
}
nav div a {
  font-size: 1.25rem;
}
nav div a:not(:last-child) {
  margin-right: 1.25rem;
}
nav div a:hover {
  text-decoration: underline;
}

footer {
  border-top: 0.125rem dotted #fff;
  display: flex;
  margin: auto 0 0 0;
  padding: 0.625rem 0;
  position: relative;
  width: 100%;
}
footer p {
  padding: 0;
}
footer p:first-child {
  margin: 0 auto;
  transform: translateX(100%);
}
footer p:last-child {
  margin: 0 0 0 auto;
  opacity: 0.5;
}

.homeDiv {
  display: flex;
  margin: auto 0;
  width: 100%;
}
.homeDiv .intro {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.homeDiv .intro .callToAction {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 0 auto 0;
  width: 50%;
}
.homeDiv .intro .callToAction a {
  display: flex;
  padding: 0.625rem 0.625rem;
}
.homeDiv .intro .callToAction a:first-child {
  background: none;
  color: #fff;
  border: 0.125rem solid #fff;
  margin: 0 0 1.25rem 0;
}
.homeDiv .intro .callToAction a:first-child:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
.homeDiv .intro .callToAction a:last-child {
  background: none;
  border-top: none;
  border-right: none;
  border-bottom: 0.125rem solid #fff;
  border-left: none;
  color: #fff;
}
.homeDiv .intro .callToAction a:last-child:hover {
  border: 0.125rem solid #fff;
}
.homeDiv .intro .callToAction a button {
  background: none;
  border: none;
  color: inherit;
  font-size: 1.25rem;
  font-weight: bold;
  margin: auto;
}
.homeDiv .intro .callToAction a button:hover {
  cursor: pointer;
}
.homeDiv .img {
  display: flex;
  width: 50%;
  height: 80vh;
}
.homeDiv .img img {
  margin: 0 0 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  grid-gap: 0.625rem;
  margin: 0 0 1.25rem 0;
  width: 100%;
}
.gallery .collection {
  display: flex;
  flex-direction: column;
}
.gallery .collection .imgOuterBox {
  position: relative;
  width: 100%;
}
.gallery .collection .imgOuterBox:not(:first-child) {
  margin-top: 0.625rem;
}
.gallery .collection .imgOuterBox img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}/*# sourceMappingURL=style.css.map */